

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let crypto of cryptos" (click)="toTheNews(crypto.name)">
    <ion-card-header>
      <div style="display: flex;">
        <ion-icon src="assets/crypto-svg/{{crypto.symbol.toLowerCase()}}.svg">
        </ion-icon>
        <ion-card-subtitle>{{crypto.name}}</ion-card-subtitle>
      </div>
    </ion-card-header>
    <ion-card-content>
      <p>
        <b>Preço em Reais: </b>{{crypto.quote.BRL.price | currency}}
      </p>
      <p>
        <b>Mudança da porcentagem em 24h (%): </b>{{crypto.quote.BRL.percent_change_24h | currency}}
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
