ion-content {
  --background: #000; // Replace this with color of your choice
}

ion-card {
  --background: #000000;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
}

ion-label {
  font-size: 22px !important;
  --background: #000000 !important;
}

ion-input {
  font-size: 42px !important;
}
